0 6 * * 5 bputz python3 spotifyplaylist_to_gmusic/YouTube.py https://open.spotify.com/playlist/0S0cuX8pnvmF7gA47Eu63M?si=e7TXka64TayNgqHZsPZnMQ -n "New EDM This Week" -i "Weekly r/EDM new release roundup. Created with github.com/sigma67/spotifyplaylist_to_gmusic" -d -p >> spotifyplaylist_to_gmusic/log_youtube.txt 2>&1
0 14,20 * * 5 bputz python3 spotifyplaylist_to_gmusic/YouTube.py https://open.spotify.com/playlist/0S0cuX8pnvmF7gA47Eu63M?si=e7TXka64TayNgqHZsPZnMQ -u "New EDM This Week $(date +'\%m/\%d/\%Y')" >> spotifyplaylist_to_gmusic/log_youtube.txt 2>&1
0 20 * * 6 bputz python3 spotifyplaylist_to_gmusic/YouTube.py https://open.spotify.com/playlist/0S0cuX8pnvmF7gA47Eu63M?si=e7TXka64TayNgqHZsPZnMQ -u "New EDM This Week $(date -d 'yesterday' +'\%m/\%d/\%Y')" >> spotifyplaylist_to_gmusic/log_youtube.txt 2>&1
0 14 * * 5 bputz python3 spotifyplaylist_to_gmusic/YouTube.py https://open.spotify.com/playlist/43Ev4B0dkMuQ1rvBgqk9PB -n "Best of New Music Friday" -c "YouTube Music - Best of New EDM This Week" -d -p >> spotifyplaylist_to_gmusic/log_youtube.txt  2>&1
0 8 * * 6 bputz python3 spotifyplaylist_to_gmusic/YouTube.py https://open.spotify.com/playlist/43Ev4B0dkMuQ1rvBgqk9PB -u "Best of New Music Friday $(date -d 'yesterday' +'\%m/\%d/\%Y')" >> spotifyplaylist_to_gmusic/log_youtube.txt 2>&1
0 8 * * 0 bputz python3 spotifyplaylist_to_gmusic/YouTube.py https://open.spotify.com/playlist/43Ev4B0dkMuQ1rvBgqk9PB -u "Best of New Music Friday $(date -d ' 2 days ago' +'\%m/\%d/\%Y')" >> spotifyplaylist_to_gmusic/log_youtube.txt 2>&1
0 8 * * 1 bputz python3 spotifyplaylist_to_gmusic/YouTube.py https://open.spotify.com/playlist/43Ev4B0dkMuQ1rvBgqk9PB -u "Best of New Music Friday $(date -d ' 3 days ago' +'\%m/\%d/\%Y')" >> spotifyplaylist_to_gmusic/log_youtube.txt 2>&1
0 14 * * 5 bputz python3 spotifyplaylist_to_gmusic/YouTube.py top -n "r/EDM top submissions" -c "YouTube Music - r/EDM top submissions" -i "Top submissions to r/EDM in one convenient playlist." -d -p >> spotifyplaylist_to_gmusic/log_youtube.txt  2>&1
0 6 * * 6 bputz python3 spotifyplaylist_to_gmusic/YouTube.py top -u "r/EDM top submissions $(date -d 'yesterday' +'\%m/\%d/\%Y')" >> spotifyplaylist_to_gmusic/log_youtube.txt  2>&1
5 6-22/2 * * 5 bputz cd spotifyplaylist_to_gmusic && python3 reddit.py >> log.txt 2>&1
0 6,18 * * 6,7 bputz cd spotifyplaylist_to_gmusic && python3 reddit.py >> log.txt 2>&1

