[project]
name = "spotify_to_ytmusic"
description = "Transfer Spotify playlists to YouTube Music"
requires-python = ">=3.8"
authors=[{name = "sigma67", email= "ytmusicapi@gmail.com"}]
license={file="LICENSE"}
classifiers = [
    "Programming Language :: Python :: 3",
    "Programming Language :: Python :: 3.8",
    "Programming Language :: Python :: 3.9",
    "Programming Language :: Python :: 3.10",
    "Programming Language :: Python :: 3.11",
    "License :: OSI Approved :: MIT License",
]
dependencies = [
    "ytmusicapi>=1.0",
    "spotipy>=2.23.0"
]
dynamic = ["version", "readme"]

[project.optional-dependencies]
dev = ['black', 'isort', 'coverage']

[project.scripts]
spotify_to_ytmusic = "spotify_to_ytmusic.main:main"

[project.urls]
homepage = "https://github.com/sigma67/spotify_to_ytmusic"
repository = "https://github.com/sigma67/spotify_to_ytmusic"

[build-system]
requires = ["setuptools>=65", "setuptools_scm[toml]>=7"]
build-backend = "setuptools.build_meta"

[tool.setuptools_scm]

[tool.setuptools.dynamic]
readme = {file = ["README.rst"]}

[tool.setuptools]
include-package-data=false

[tool.setuptools.package-data]
"*" = ["**.example", "**.py"]

[tool.isort]
profile = "hug"
src_paths = ["spotify_to_ytmusic"]

[tool.black]
src_paths = ["spotify_to_ytmusic"]
line-length = 99

[tool.coverage.run]
command_line = "-m unittest discover tests"
