[youtube]
headers = headers_json_from_browser
user_id =

[spotify]
client_id = id_from_developer_console
client_secret = secret_from_developer_console

[reddit]
client_id = id from https://www.reddit.com/prefs/apps
client_secret = secret from https://www.reddit.com/prefs/apps